.asc-barra-ligacao{
    text-align: center;
    line-height: 1.5rem;
    color: white;
    font-size: 14px;
    -webkit-box-direction: normal;
    outline: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    z-index: 999;
    clear: both;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: white ;
  }

  .size-2{
    text-align: center;
    line-height: 1.5rem;
    color: white;
    font-size: 14px;
    -webkit-box-direction: normal;
    margin: auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
    max-width: 50%;
  }
  .size-2 a.button{
    -webkit-box-direction: normal;
    outline: 0;
    -webkit-appearance: none;
    height: auto;
    letter-spacing: 1px;
    cursor: pointer;
    vertical-align: middle;
    border: 2px solid;
    color: white ;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 600;
    padding: 7px 15px;
    line-height: 1.6rem;
    border-radius: 56px;
    min-width: 5rem;
    width: max-content;
    transition: all .2s;
    font-size: 15px;
    word-wrap: break-word;
  }
  .size-3,.size-4{
    text-align: center;
    line-height: 1.5rem;
    color: white;
    font-size: 14px;
    -webkit-box-direction: normal;
    margin: auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
    max-width: 50%;
  }
  .size-3 a.button, .size-4 a.button{
    -webkit-box-direction: normal;
    outline: 0;
    -webkit-appearance: none;
    height: auto;
    letter-spacing: 1px;
    cursor: pointer;
    vertical-align: middle;
    border: 2px solid;
    color: white ;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 600;
    padding: 7px 25px;
    line-height: 1.6rem;
    border-radius: 56px;
    transition: all .2s;
    font-size: 15px;
    word-wrap: break-word;
    width: max-content;
  }